/*
Theme Name: TehnoNjuz
Author: Jasmin Skopljak
Author URI: https://twitter.com/jasminskopljak
Description: The TehnoNjuz theme for WordPress is magazine/blog style theme to showcase your content in one column order. It supports wide range of functionality, and it is completly free to use in personal and commercial projects.
Version: 1.0.5.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, orange, white, one-column, two-columns, right-sidebar, custom-menu, featured-images, threaded-comments, fixed-layout 
Text Domain: tehnonjuz
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

html,
button,
input,
select,
textarea{
    color: #222;
    }
input{
    border: 2px solid #d4d0ba;
    padding: 5px;
    font-family: inherit;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
    background: #e05d22;
    background: -webkit-linear-gradient(top, #e05d22 0%, #d94412 100%);
    background: linear-gradient(to bottom, #e05d22 0%, #d94412 100%);
    border: none;
    border-bottom: 3px solid #b93207;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 11px 24px 10px;
    text-decoration: none;
    cursor: pointer;
    }
    
body{
    font-size: 16px;
    line-height: 1.7;
    font-family: "Open Sans", sans-serif;
    }
    
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}
    
ul{
    list-style: square;
    margin: 0px 0px 18px 1.5em;
}

ol {
    list-style: decimal outside none;
    margin: 0 0 18px 1.5em;
}

ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}

dl {
    margin: 0 0 24px 0;
}

dt {
    font-weight: bold;
}

strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}

blockquote {
	quotes: none;
	font-style: italic;
	padding: 0 3em;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}

blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}




/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img{
    vertical-align: middle;
    }

/*
 * Remove default fieldset styles.
 */

fieldset{
    border: 0;
    margin: 0;
    padding: 0;
    }

/*
 * Allow only vertical resizing of textareas.
 */

textarea{
    resize: vertical;
    }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe{
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    }

 /* ------------LINKS----------------------------------------*/
   
a, a:link, a:visited {
    color: #21759b;
    outline: none;
    text-decoration: none;
    }
  
   /*------------------------END of LINKS------------------------*/
   

#container{
    background: rgb(238, 238, 238);
    margin: 0;
    }
    
/* ==========================================================================
   Header Styling
   ========================================================================== */

header{
    clear: both;
    margin: 0px auto;
    padding: 0;
    width: 1000px;
    background: none repeat scroll 0% 0% rgb(21, 21, 21);   
    }

#header-content{
    margin: 0 auto;
    padding: 0;
    max-width:100%;
    width:980px;
    }
 
 /* CSS for logo */
 .site-logo {
    display: inline-block;
    margin: 10px 0px;
 }
 #logo {
    height:60px;
    line-height: 60px;
 } 
 .site-title {
    float: left;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: left;
    font-size: 40px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    line-height: 1em;
    word-break: break-all;
 }
 
 .site-description {
    font-style: italic;
    font-size: 14px;
    color: #fff;
    font-family: "Georgia", sans-serif;
    margin-left: 120px;
    word-wrap: break-word;
 }
 /* CSS for form */

#header-form {
    float: right;
    margin-bottom: 1px;
}
#content-none-form {
    float: left;
    margin-top: 10px;
}
.search-form{
    margin-top: -3px;;
    padding:0;
    display: block;
    float: right;	
    }
#header-form input.search-submit,
#content-none-form input.search-submit,
.search-form input.search-submit {
    background: none repeat scroll 0% 0% rgb(229,115,0);
    color: rgb(255, 255, 255);
    padding: 8px 4px;
    outline: medium none;
    font-size: 9pt;
    font-family: arial,Helvetica,sans-serif;
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    font-family: arial, 'helvetica', sans-serif;
    width:60px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2) inset, 0px 0px 1px rgba(255, 255, 255, 0.2) inset;
    border: 1px solid rgb(34, 34, 34);
    height: 32px;
    } 
#header-form input,
#content-none-form input {
    color:rgb(170, 170, 170);
    letter-spacing: 0;
    font-size: 10pt;
    font-family: arial, 'helvetica', sans-serif;
    text-transform: lowercase;
    padding:6px 8px;
    margin:0;
    width:300px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    display:inline;
    height: 30px;    	
    }
.search-form input {
    color:rgb(170, 170, 170);
    letter-spacing: 0;
    font-size: 10pt;
    font-family: arial, 'helvetica', sans-serif;
    text-transform: lowercase;
    padding:6px 8px;
    margin:0;
    width:170px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    display:inline;
    height: 32px;
}       
.search-submit{
    padding: 6px 10px;
    font-size: 12px;
    text-transform: uppercase;
}
#header-form .search-submit:hover
#content-none-form .search-submit:hover,
.search-form .search-submit:hover{
    background-color: #DE7432;
    }

    
    /* CSS for navigation */
    
#site-navigation{
    background: #EC9F2E;	
}

.main-navigation ul {
    list-style: none;
    display: inline-block;
    background: #EC9F2E;
    margin: 0;
    height: auto;
}

.main-navigation ul li:hover>a{
    background:  #DE7432 !important;
}

.main-navigation ul li{
    float: left;
    position: relative;
    background: #EC9F2E;
}

.main-navigation li{
    display: inline-block;   
}

.main-navigation ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 0 30px;
    line-height: 43px;
}

.main-navigation ul li a:hover{
    position: relative;
    background:#EC9F2E;
    color:#fff;
}

.main-navigation ul ul li{
    border: none;
    background: #DE7432;
}

.main-navigation ul ul {
    position: absolute;
    display: none;
}

.main-navigation ul li:hover ul ul {
    position: absolute;
    display: none;
}

.main-navigation ul li:hover > ul{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.main-navigation ul ul li:hover > ul {
    display: block;
    top: 0;
    left: 100%;
}

.main-navigation ul li:hover ul li:hover > ul {
    display: block;
    top: 0;
    left: 100%;
}

.main-navigation ul ul{
    background: #DE7432;
    z-index: 999;
}

.main-navigation ul ul:hover {
    background: #EC9F2E;
    margin-left: 5px;
}

.main-navigation ul ul ul {
    display: none;
    background: #e4e4e4 !important;
    margin-left: -14px;
}

.main-navigation ul ul li a{
    margin: 0px;
    float: none;
    width: 187px;
    line-height: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    text-transform: none;
    padding: 6px 10px;
    background: none !important;
}

.main-navigation ul ul ul li a{
    color:#fff;
    font-weight:bold;
}


.main-navigation ul ul li:hover>a{
    background:#ce5206 !important;
    color:#fff !important;
}


.main-navigation ul ul ul li:hover>a{
    background:#ce5206 !important;
    color: #fff !important;
}

 /* ==========================================================================
   End of Header Styling
   ========================================================================== */
 
 #wrap{
    margin:0px auto;
    width:980px;
    box-shadow:0 0 3px rgba(0,0,0,0.3);
    background:#ffffff;
    min-height: 600px;
    }

/* ==========================================================================
   Main Content Styling
   ========================================================================== */

#main-content{
    margin: 0 0 10px 15px;
    padding:0;
    float:left;
    width: 70%;
    }
    
.vijesti{
    margin-top: 10px;
    padding:0;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 400;
    }

.vijesti p,    
.vijesti ul,
.vijesti ol,
.vijesti dd,
.vijesti pre,
.vijesti hr {
    margin-bottom: 15px;
}

.vijesti h1,
.vijesti h2,
.vijesti h3,
.vijesti h4,
.vijesti h5,
.vijesti h6 {
    margin-bottom: 20px;
}

.vijesti ul{
    list-style: square;
}

.vijesti ul ul,
.vijesti ol ol,
.vijesti ul ol,
.vijesti ol ul {
	margin-bottom: 0;
}

.vijesti table{
    border: 1px solid #e7e7e7;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}

.vijesti table a:link, a:visited,
.vijesti dd a:link, a:visited,
.vijesti p a:link, a:visited {
    color: #4f4ae0;
    text-decoration: underline;
}

.vijesti table a:hover {
    color: #e53737;
}

.vijesti tr th,
.vijesti thead th {
    color: #777;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}

.vijesti tr td {
    border-top: 1px solid #e7e7e7;
    padding: 6px 24px;
    font-size: 0.9em;
}

.vijesti dt,
.vijesti th{
    color: #000;
}
.entry-content{
    float:left;
    width: 100%; 
    margin-right: 13px;
    margin-bottom: 20px;
    padding:0;
    }
    
.entry{
    
    margin:0;
    padding:0;
    line-height: 1.7em;
   /* height: 29em; */
    overflow: hidden;
    }
    
.entry-meta {
    font-size: 14px;
    color: #EC9F2E;
}

.entry-meta a {
    color: #EC9F2E;
    font-weight: 900;
    text-decoration: underline;
}

.entry-meta a:hover {
    color: #E17432;
}
    
.post-single {
    width: 72%;
    float: left;
    }
    
.post-fullwidth{
    width: 100%;
    text-align: justify;
}   
    
#content-fullwidth{
    margin-right: 30px;
    margin-bottom: 30px;
} 
    
.entry-single{
    margin-left: 20px;
    }
    
/* CSS styling for tags */

.tags{
    list-style-type: none;
    margin: 15px 0;
    display: inline-block;
}

.tags li{
    float: left;
    margin: 10px 0;
}

.tags li a{
    background: #F9F8EE;
    margin-right: 10px;
    padding: 10px;
}

.tags li:hover a {
    background: #666666;
    color: #fff;
}

 /* CSS styling for comments section */

#comments {
	display: inline-block;
	clear: both;
	width: 68%;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.comment-list {
	list-style-type: none;
	margin-left: 20px;
}
.comment-list li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 86px;
	position: relative;
}
.comment-list li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.comment-list ol {
	list-style: decimal;
}
.comment-list .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #777;
	text-decoration: none;
	font-size: 14px;
	color: #bc360a;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.comment-list .even {
}
.comment-list .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #bc360a;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	text-decoration: underline;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.comment-list .children {
	list-style: none;
	margin: 0;
}
.comment-list .children li {
	border: none;
	margin: 0;
}
.nopassword,
.no-comments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.comment-list li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

.nav-next,
.nav-previous {
    margin-left: 20px;
}


.nav-next a,
.nav-previous a {
    color: #EC9F2E;
}

.nav-next a:hover,
.nav-previous a:hover {
    color: #000;
}


/* Comments form */
input[type="submit"] {
	color: #fff;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0 24px 20px;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #bc360a;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}
    
#content-single{
    margin-top: 0px;
    line-height: 1.8;
    }
#content-single p{
    margin-bottom: 15px;
}


/*   CSS for archive.php */

.archive-post-title{
    display: inline-block;
    width: 68%;
    line-height: 1.3;
    text-align: justify;
}

.archive-post-title a {
    color: #EC9F2E;
}

.archive-post-title a:hover{
    color: #DE7432;
}

.archive-entry{
    margin-top: 10px;
    margin-left: 15px;
    width: 95%;
    display: inline-block;
}

.archive-entry p{
    margin: 5px 0 15px 15px;
    width: 68%;
    text-align: justify;
}

/*   CSS for Page Templates (Default Template & Full-Width-Template */
.page-featured-image {
    padding: 0px 30px 20px 20px;
}
.page-title {
  font-size: 1.8em;
  text-align: center;
  margin: 20px 0px;
  text-transform: uppercase;
  background: #fff;
  position: relative;
  top: -30px;
  margin-left: 30px;
  padding: 0px 20px;
  display: inline;
}
.page-title-border {
  border-style: none none double;
  border-width: 4px;
  border-color: #a3a3a3;
  padding-top: 50px;
  margin-bottom: 0px;
  width: 97%;
  position: relative;
}

/*   CSS for category.php & search.php */

#category-wrap {
    width: 71%;
    float: left;
}

#entry-category,
.category-entry,
.posts-search {
    margin-left: 10px;
}

.category-entry {
    margin-bottom: 5em;
}

h2.category-post-title {
    margin-bottom: 5px;
}

h2.category-post-title a {
    color: #EC9F2E;
}

h2.category-post-title a:hover {
    color: #DE7432;
}

.posts-search {
    width: 71%;
    display: block;
    float: left;
}

.entry-search {
    margin-bottom: 5em;
}
.entry-search p {
    margin-bottom: 5px;
}

/*    CSS for PAGINATION AND PAGES LINKS */

.page-link {
    clear: both;
    color: #000;
    font-weight: bold;
    line-height: 48px;
    word-spacing: 0.5em;
  }
  
.page-link a:link,
.page-link a:visited {
    background: #f1f1f1;
    color: #333;
    font-weight: normal;
    padding: 0.5em 0.75em;
    text-decoration: none;
  }
  
.page-link a:active,
.page-link a:hover {
    color: #ff4b33;
}

 .previous-entries a,
 .previous-image a{
    color: #DE742E;;   
}
 .next-entries,
 .next-image{
    float: right;
}

 .next-entries a,
 .next-image a{
    color: #DE742E;
}
 
 .next-page-category{
    width: 71%;
    height: 30px;
 }
 
  .next-page-category a{
    color: #DE742E;
    float: right;
    margin-right: 20px;
  }
  
  .previous-page-category{
    width: 68%;
    margin-left: 10px;
  }
  
  .previous-page-category a{
    color: #DE742E;
  }
  
  /* CSS for Breadcrumbs */
  
  #breadcrumbs{
    list-style:none;
    overflow:hidden;
    font-size: 13px;
  }
  
  #breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
  }
  
  #breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
    margin: 0 5px;
  }
  li.item-home .bread-home {
    color: #EC9F2E;
  }
  
/* ==========================================================================
   End of Main Content Styling
   ========================================================================== */

    
/* ==========================================================================
   Aside Styling
   ========================================================================== */
    

aside{
    float: right;
    width: 25%;
    margin: 40px 25px 0 0;
    overflow: hidden;
    }
        
#socialicons {
    border: 10px solid rgb(248, 250, 250); 
    padding: 15px;
    background: none repeat scroll 0% 0% rgb(247, 250, 250);
    margin-bottom: 25px;
    }
        
.social-content a {
    margin:0 14px;
    }
        
        
#reklama1 {
    border:1px solid rgb(238, 238, 238);
    height: 250px;
    margin-bottom: 50px;
    }

.zadnji-postovi{
    font-family: 'Open Sans', 'helvetica', sans-serif;
    font-weight: 500;
    margin: 3px 0;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    background-color: #F7FAFA;
    font-size: 1.2em;
    } 
         
#zadnji-postovi{
    text-decoration: none;
    list-style: none;
    margin: 0 auto;
    background-color: #F7FAFA;
    }
		 
#zadnji-postovi-text{
    text-align: center;
    }
		 
#zadnji-postovi li{
    font-size: 13px; 
    border-top: 1px solid #eeeeee;
    height: 50px;
    padding: 5px 0 10px 10px;  
    display: inline-block;
    overflow: hidden;
    width: 100%;
    }
		 
#zadnji-postovi li:hover{
    background: none repeat scroll 0% 0% rgb( 255, 255, 255 );
    } 
		 
.alignleft{
    float: left;
    margin-right: 4px;
    margin-top: 4px;
    }

/** Wordpress Generated classes for images and captions **/

.alignnone {
    margin: 5px 20px 20px 0;
    width: 100%;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 10px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

img.wp-post-image {
    width: 100%;
    height: auto;
}

.wp-caption,
.wp-caption-text {
    font-style: italic;
    font-size: 12px;
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    color: #757575;
}
.entry-caption {
    color: #757575;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}
.entry-description{
    margin-left: 5px;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
 .sticky{
    border-top: 4px solid #EC9F2E;
    padding: 18px 20px;
    background: #EEEEEE; 
 }
 
 .bypostauthor .gallery-caption{
    display: none;
}

.archive-post-thumbnail{
    float: left;
    margin: 5px 20px 20px 20px;
}
.image-attachment {
    margin: 5px 5px 0 5px;
}

/*--------------------------------------------------------------
 Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-item a,
.gallery-caption {
    display: block;
}
.gallery-item a {
    width: 90%;
}
.gallery-columns-1 .gallery-item a {
    max-width: 100%;
    width: auto;
}
.gallery .gallery-icon img {
    height: auto;
    max-width: 90%;
    padding: 1%;
    margin-top: 8px;
    border: 1px solid #000;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}


/* ==========================================================================
   End of Aside Styling
   ========================================================================== */

/* ==========================================================================
   Widget Area Styling
   ========================================================================== */
    
.widget{
    list-style: none;
    background-color: #F9F8EE;
    padding-bottom: 10px;
    }

.widget-title{
    font: 300 italic 22px 'Open Sans', 'Helvetica', sans-serif;
    margin-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    }
    
.widget ul {
    margin-left: 10px;
    list-style: none;
    font: 300 16px "Open Sans", 'Helvetica', sans-serif;
    }
    
.widget ul li {
    padding: 1px 3px 0 0;
    margin: 5px 0;
    }
    
.widget a {
    color: #DE7432;	
    }
    
.widget a:hover{
    text-decoration: underline; 
    }
    
.widget_search {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    }
    
.screen-reader-text{
    display: none;
    }
    
#searchsubmit{
    background: none repeat scroll 0% 0% rgb(229,115,0);
    color: rgb(255, 255, 255);
    float: right;
    padding: 5px 5px;
    cursor: pointer;
    }
    
#s{
    width: 70%;
    }
    
.widget_calendar caption {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    }
    
.widget_calendar table{
    line-height: 2;
    }
    
.widget_calendar th{
    letter-spacing: 20px;
    }
    
.widget_calendar tbody td {
    background-color: #FCFCF7;
    text-align: center;
    }
    
.widget_calendar tbody .pad {
    background-color: transparent;
    }
    
#wp-calendar{
    margin: 10px 0 0 10px;
    }
    
#next {
    text-align: right;
    font-size: 14px;
    }
    
#prev {
    font-size: 14px;
    }

/* ==========================================================================
   End of Widget Area Styling
   ========================================================================== */
   /*------------------HEADING-----------------------------------*/
   
h1.post-title{
    font-size: 1.7em;
    font-weight: bold;
    color: #000;
    line-height: 1.5em;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    }
  
h2.post-title {
    font-weight: 500;
    font-size: 1.7em;
    margin-bottom: 15px;
    line-height: 1.3em;
    }
    
h2.post-title a{
    color: #EC9F2E;
    letter-spacing: 0px;

}
    
h2.post-title a:hover{
    color: #DE7432;
    }
   
   /*------------------END of HEADING-----------------------------*/
        

   
/* ==========================================================================
   Footer Styles
   ========================================================================== */

footer {
    width: 100%;
    height: 40px;
}   
		
#footer-copyright {
    text-align:center;
    font-size:11pt;
    padding-top: 10px;
}

#footer-copyright a {
    color: #DE742E;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}